export default {
  nicknames: ["Sayang", "Cinta", "Darling", "Beb"],
  greetings: {
    evening: "Selamat Malam",
    afternoon: "Selamat Sore",
    day: "Selamat Siang",
    morning: "Selamat Pagi",
    night: "Selamat Tidur"
  }
};
